<html>
    <head>
        <title>{{jobListing.title}} | Jobs</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="../assets/images/favicon.png" />
        <link rel="stylesheet" href="../css/views/job_listing.css" />
    </head>
    <body>
        <header>
            <nav>
                <h1><a href="/">HireMeNow</a></h1>
                <input type="text" placeholder="Search for job listings" />
                <button
                    class="switch"
                    onclick="window.location.href = '/recruiter'"
                >
                    Switch to Recruiting
                </button>
            </nav>
        </header>
        <div id="content">
            <div id="feed">
                <h1>{{jobListing.title}}
                    Job in
                    {{jobListing.location}}
                    at
                    {{jobListing.company}}</h1>
                <div id="desc">
                    <h3 style="margin-bottom: 0;">{{jobListing.title}}</h3>
                    <h4
                        style="margin-top: 0.5em; color: rgb(70, 70, 70);"
                    >{{jobListing.company}}</h4>
                    <h3><img
                            src="../assets/images/location.png"
                        />{{jobListing.location}}</h3>
                    <div id="details">
                        <div class="row">
                            <div class="col">
                                <h4><img
                                        src="../assets/images/date.png"
                                        alt="start date.png"
                                    />Start Date</h4>
                                <h4>{{jobListing.start_date}}</h4>
                            </div>
                            <div class="col">
                                <h4><img
                                        src="../assets/images/money.png"
                                        alt="money.png"
                                    />CTC</h4>
                                <h4>{{jobListing.ctc}}</h4>
                            </div>
                            <div class="col">
                                <h4><img
                                        src="../assets/images/date.png"
                                        alt="Apply by.png"
                                    />Apply By</h4>
                                <h4>{{jobListing.apply_by}}</h4>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <h4>About the Job</h4>
                    <p>{{{replaceAll jobListing.description ";" "<br/>"}}}</p>
                    <h4>Qualifications required</h4>
                    <p>{{{replaceAll
                            jobListing.qualifications
                            ";"
                            "<br/>"
                        }}}</p>
                    <button class="apply-now">Apply Now</button>
                </div>
            </div>
        </div>
        <footer>
            <button
                class="switch"
                onclick="window.location.href = '/recruiter'"
            >
                Recruit
            </button>
        </footer>
    </body>
</html>